.container{
    width: 100vw;
    height: 2748px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: poppins, Verdana, Tahoma, sans-serif ;
}

.tentara{
    width: 289px;
    height: 299px;
    border-radius: 20px;    
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #D5FFDD;
}
.pilih-tentara{
    width: 212.41px;
    height: 45.43px;
    border-radius: 15px;
    font-size: 20px;
    position: absolute;
    margin-top: 150px;
    text-align: center;
    background-color: #399349; 
}
.layout-tentara{
    text-align: center;
    font-size: 24px;
}
.mandor{
    width: 288.53px;
    height: 221px;
    border-radius: 20px;
    background-color: #FFF4DC;
}
.pramugari{
    width: 289px;
    height: 241.19px;
    border-radius: 20px;
    background-color: #FFCED7;
}
.flex4{
    width: 289px;
    height: 314px;
    border-radius: 20px;
    background-color: #E2F2FF;
}
.flex5{
    width: 288.52px;
    height: 221px;
    border-radius: 20px;
    background-color: #E9E8E2;
}
.flex6{
    width: 288.52px;
    height: 221px;
    border-radius: 20px;
    background-color: #E9E8E2;
}
.flex7{
    width: 288.52px;
    height: 221px;
    border-radius: 20px;
    background-color: #E9E8E2;
}
.flex8{
    width: 288.53px;
    height: 221px;
    border-radius: 20px;
    background-color: #FFDBC5;
}
.flex9{
    width: 288.52px;
    height: 221px;
    border-radius: 20px;
    background-color: #8FC5ED;
}
header.navbar{
    position: fixed;
    bottom: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 999;
    align-items: center;
}
.navbar{
    font-family: poppins, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    gap: 40px;
    bottom: 0;
    padding: 0;
    position: fixed;
    transition: all 0.3s ease-in-out;
    background-color: #D9D9D9;
}
main{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}
.judul{
    font-family: poppins, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    text-align: center;
}